@charset "utf-8";
/**
 * Created by fwxing on 2018/04/13
 */

/*公共样式*/
html {
  -webkit-text-size-adjust: none;
}

body {
  font-size: 0.28rem;
  @include borderbox();
}

a, h1, h2, h3, img, body, html, ul, li, p {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  vertical-align: middle;
}

.clearfix {
  @include clearfix();
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.font_tuina {
  font-size: inherit;
}

//浮动
$floatDir: left, right;
@each $val in $floatDir {
  .pull-#{$val} {
    float: $val;
  }
}

//盒子
$displayModel: (flex, flex), (block, block), (iblock, inline-block), (inline, inline), (table, table);
@each $k, $v in $displayModel {
  .box-#{$k} {
    display: $v;
  }
}

//字体颜色
$txtcolor: (default, $txtColor), (primary, $mainColor), (minor, $txtColorLight), (warn, $txtWarn);
@each $val, $color in $txtcolor {
  .text-#{$val} {
    color: $color;
  }
}

//文本对齐
$txtDir: left, center, right;
@each $dir in $txtDir {
  .text-#{$dir} {
    text-align: $dir;
  }
}

//单行溢出隐藏
.ellipsis {
  @include ellipsis();
}

//槽宽
$size-list: (lg, 40px), (md, 30px), (sm, 20px), (xs, 10px);
@each $item, $size in $size-list {
  .groove-pd-#{$item} {
    padding-left: pxTorem($size);
    padding-right: pxTorem($size);
  }
  .groove-#{$item} {
    margin-left: pxTorem($size);
    margin-right: pxTorem($size);
  }
}

//盒子模型
.borderbox {
  @include borderbox();
}

//mintui picker 字体
.picker {
  .picker-item {
    font-size: .26rem;
    padding: 0 5px;
  }

  .picker-selected {
    font-size: .3rem;
  }
}
